.popupOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 46, 46, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: popupOverlay 0.5s;
  .popup {
    margin-top: 200px;
    max-width: 520px;
    width: 100%;
    background-color: #e74c3c;
    border-radius: 5px;
    color: #fff;
    overflow: hidden;
    padding-bottom: 25px;
    animation: popup 0.5s ease-in-out;
    .popupHeader {
      position: relative;
      font-size: 22px;
      background-color: #d44637;
      padding: 15px;
      .closeIcon {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        cursor: pointer;
        transition: 0.3s ease-i-out;
        &:hover {
          color: #ccc;
          transition: 0.3s ease-in-out;
        }
      }
    }
    .popupBody {
      text-align: center;
      padding: 30px;
      font-size: 15px;
      line-height: 30px;
    }
    .wrapperBtns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      button {
        color: #fff;
        font-size: 15px;
        background-color: #b3382c;
        border: none;
        outline: none;
        padding: 5px 15px;
        cursor: pointer;
        border-radius: 5px;
        
      }
    }
  }
}

@keyframes popup {
  0% {
    transform: translateY(-100%) scale(0);
    opacity: 0;
  }
  100% {
    transform: translateY(0%) scale(1);
    opacity: 1;
  }
}
@keyframes popupOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
